/**************************************************
Navbar
**************************************************/

/* Nav Wrapper */
#nav-wrapper {
  height: 11em;
  margin: 0;
  padding: 0;
}

/* Notice Bar */
#notice-bar {
  display: flex;
  justify-content: flex-start;
  height: 4em;
  background-color: #f3f3f3;
}

#notice-bar p {
  margin-left: 4em;
  padding-top: 1.65em;
  font-family: 'Open Sans', sans-serif;
  font-size: .85em;
  color: #666;
}

#notice-container {
  width: 100%;
}

#notice-arrow-container {
  height: 4em;
}

#notice-arrow-container img {
  height: 100%;
}

#account-container {
  display: flex;
  width: 25em;
  background-color: black;
}


#account-container p, #account-container a {
  color: white;
}

#account-container a {
  margin-left: .1em;
  transition: color 0.2s ease;
}
#account-container a:hover {
  color: red;
}

/* Nav Bar */
#nav-bar-container {
  display: flex;
  justify-content: flex-start;
  height: 7em;
  padding-top: 1.6em;
}

#logo-container {
  width: 100%;
  margin-left: 3.5em;
}
#logo-container img {
  width: 23em;
}

#nav-options-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2em;
  margin-right: 4em;
}

#nav-options-container p {
  margin-left: 1em;
  padding-left: 1em;
  font-size: .7em;
  letter-spacing: .125em;
  font-weight: 700;
}

.nav-rule {
  margin-left: 1.2em;
  height: 2.5em;
  border-right: .1em solid black;
}
