
<!-- Top section of Contributions (title) -->
<section id="contributions-top-section" class="container-fluid">
  <h2>Contribute</h2>
  <img src="img/roboto/roboto-arrow-white.png" />
  <div>
    <h4>Orbitech</h4>
  </div>
</section>

<!-- Middle section of contributions: About, Top Contributions, Recent Contributions -->
<section id="contributions-middle">

  <!-- Contributions: About Company -->
  <div id="about-company">
    <p class="contributions-subtitle">// ABOUT</p>
    <div>
      <strong>ORBITECH</strong> is an andempo recessum delistis natiate quis et asperciis dolum voluptam verum rem ra niti a quam nonetur moluptas simus et odi cum aciur, eic to officie ntisque reic to eum dolorum quisque nonsed et autem. Et rerum incim estoresti us eatem dolorem lautataquid quid quia et rem hicte vel id quodignam eos eicaborendam ius eos voluptati alis quo modis ide ommo ipsaped itatur solum, occum fugitis sam fugiant ad ut que voluptam quatem nobis am, quae n
    </div>
  </div>

  <!-- Contributions: Top Contribtions -->
  <div id="top-contributions">
    <p class="contributions-subtitle">// TOP CONTRIBUTIONS</p>
    <ul>
      <li>
        <p>
          THE SOCIETY
          <span>$2,400,000</span>
        </p>
      </li>
      <li>
        <p>
          Donald Trump
          <span>$1,900,000</span>
        </p>
      </li>
      <li>
        <p>
          Guillermo Del Toro
          <span>$550,000</span>
        </p>
      </li>
      <li>
        <p>
          Barack Obama
          <span>$200,000</span>
        </p>
      </li>
      <li>
        <p>
          Bernie Sanders
          <span>$100,000</span>
        </p>
      </li>
      <li>
        <p>
          Ellen Lang
          <span>$80,000</span>
        </p>
      </li>
      <li>
        <p>
          The Earth Foundation
          <span>$65,000</span>
        </p>
      </li>
    </ul>
  </div>

  <!-- Contributions: Recent Contributions -->
  <div id="recent-contributions">
    <p class="contributions-subtitle">// RECENT CONTRIBUTIONS</p>
    <ul>
      <li>
        <p>
          THE SOCIETY
          <span>$2,400,000</span>
        </p>
      </li>
      <li>
        <p>
          Donald Trump
          <span>$1,900,000</span>
        </p>
      </li>
      <li>
        <p>
          Guillermo Del Toro
          <span>$550,000</span>
        </p>
      </li>
      <li>
        <p>
          Barack Obama
          <span>$200,000</span>
        </p>
      </li>
      <li>
        <p>
          Bernie Sanders
          <span>$100,000</span>
        </p>
      </li>
      <li>
        <p>
          Ellen Lang
          <span>$80,000</span>
        </p>
      </li>
      <li>
        <p>
          The Earth Foundation
          <span>$65,000</span>
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- Bottom section of Contributions: Call to action buttons -->
<section id="contributions-bottom">

  <div id="make-a-difference-title">
    <div class="make-a-difference-title-rule"></div>
    <h4>Make A Difference</h4>
    <div class="make-a-difference-title-rule"></div>
  </div>

  <button id="contribute-button"

</section>
